<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Add Item</title>
	</head>
	
<body>
    

	<form action="/addItem" method="post">
		Name: <input type="text" name="name"><br>
		Price: <input type = "number" name="price"><br>
		
		<select name="storeId" required>
			<option th:each="store : ${storeList}" th:value="${store.id}" th:text="${store.name}"></option>
		</select>

		
		<input type="submit" value="Add Item">
	</form>


	
	
	
<h1>Navigation</h1>
   <a href="/"><button>Home</button></a>
   <a href="/add"><button>Add</button></a>
   <a href="/view"><button>View</button></a>
  </body>
</html>