<br>
<br>
<hr>
<h2>Item List</h2>

<table>


    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Employee Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Delete</th>
    </tr>
    @for (item of items; track item.id) {
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.employeeName}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
        <td><button (click)="item.id !== undefined && deleteItem(item.id)">Delete</button></td>
    </tr>
}
</table>