<h3> Add Movie </h3>
<div class="submit-form">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" />
        <label for="runtime">runtime
        </label>
        <input type="text" class="form-control" id="runtime" name="runtime" />
        <label for="runtime">genre
        </label>
        <input type="text" class="form-control" id="genre" name="genre" />
        <button class="btn btn-success">Submit</button>
    </div>
</div>