<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
        <div id="moviePanels" class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">Movies Page</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <app-movie-add></app-movie-add>
                   </div>
                    <div class="row">
                        <div class="col-md-12">
                            <app-movie-list></app-movie-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
    </div>
</div>