<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Midterm Exam - Manh Phu Giang</title>
	</head>
	
<body>
    

	<h1>Student Name: Manh Phu Giang</h1>
		
	<h1>Student Number: 991685007</h1>
	
	<h1>Firefighter Selling Cupcake</h1>
		
	
	
	
<h1>Navigation</h1>
   <a href="/"><button>Home</button></a>
   <a href="/addEmployee"><button>Add Employee</button></a>
   <a href="/viewEmployee"><button>View Employee</button></a>
   
   <a href="/addCupcake"><button>Add Cupcake</button></a>
   <a href="/viewCupcake"><button>View Cupcake</button></a>
  </body>
</html>