<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title>Add Student</title>
	</head>
	
<body>
    
	<form action="/add" method="post">
		Name: <input type="text" name="name"><br>
		Grade: <input type = "number" name="grade"><br>
		<input type="submit" value="Add Student">
	</form>
	
	
	
	
	
	
	
<h1>Navigation</h1>
   <a href="/"><button>Home</button></a>
   <a href="/add"><button>Add</button></a>
   <a href="/view"><button>View</button></a>
  </body>
</html>