<br>
<br>
<hr>
<h2>Add New Item</h2>


<h3 for="name">Item Name:</h3>
<input type="text" placeholder="Enter item name" name="name" id="name" [(ngModel)]="item.name" />

<h3 for="price">Price:</h3>
<input type="number" placeholder="Enter item price" name="price" id="price" [(ngModel)]="item.price" />

<h3 for="quantity">Quantity:</h3>
<input type="number" placeholder="Enter item quantity" name="quantity" id="quantity" [(ngModel)]="item.quantity" />


<h3 for="employeeName">Employee Name:</h3>

<select id="employeeName" [(ngModel)]="item.employeeName" required>
    @for ( empl of employees; track empl.id) {
        <option>
            <td>{{empl.name}}</td>
        </option>
    }
</select>

<button (click)="saveItem()">Submit</button>
