<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Player</title>
	<link rel="stylesheet" href="./css.css">
</head>
<body>
    <table border="1">
        <tr>
            <th> <a th:href="@{/view(sortBy='id')}">ID</a></th>
            <th> <a th:href="@{/view(sortBy='name')}">Name</a></th>
            <th> <a th:href="@{/view(sortBy='guildPoint')}">Guild Point</a></th>
            <th> <a th:href="@{/view(sortBy='unitClass')}">Unit Class</a></th>
        </tr>
        <tr th:each="p: ${player}">
            <td th:text="${p.id}">a</td>
            <td th:text="${p.name}">b</td>
            <td th:text="${p.guildPoint}">c</td>
            <td th:text="${p.unitClass}">d</td>
            <td> <a th:href="@{/edit/{id}(id=${p.id})}">Edit</a></td>
            <td> <a th:href="@{/delete/{id}(id=${p.id})}">Delete</a></td>
        </tr>
    </table>

    <h1>Navigation</h1>
    <a href="/"><button>Home</button></a>
    <a href="/add"><button>Add</button></a>
    <a href="/view"><button>View</button></a>
</body>
</html>
